<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ChinaStockContext" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Nyse_Stocks;Persist Security Info=False;User Id=sa;Password=rliao;MultipleActiveResultSets=True;"  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="TotalNumOfPage" value="30" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ChinaStockTableName" value="StocksSZ" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ChinaStockInfoSSScratchPage" value="http://app.finance.ifeng.com/list/stock.php?t=sa&amp;f=chg_pct&amp;o=desc&amp;p={0}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ChinaStockInfoSSScratchDataPage" value="http://table.finance.yahoo.com/table.csv?s={0}.sz" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>